[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "==3.3.2"
networkx = "==2.5"
simple-settings = "==1.0.0"
pyglet = "==1.5.8"

[requires]
python_version = "3.8"
